body {
  font-family: "Nunito", sans-serif;
}

.title {
  background-color: #1a2f38;
  color: #d5e5ec;
  text-align: center;
  font-size: 32px;
}

.hide-it {
  display: none;
}

/* --- START OF CONTROL section--- */

#control-section {
  display: grid;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 250px 160px;
}

#control-section {
  margin-bottom: 10px;
}

.input-field {
  border: 2px solid #1a2f38;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  width: 200px;
  height: 150px;
  grid-template-columns: 110px 90px;
  grid-template-rows: repeat(3, 40px);
  align-content: center;
  justify-self: start;
}

.stock-input-block {
  height: 35px;
  align-items: center;
}

.stock-input {
  width: 90px;
}

#submit-stock {
  font-size: 50px;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  border-radius: 8%;
  border-style: none;
  cursor: pointer;
  background-color: #1a2f38;
  color: white;
}

#delete-all-stock {
  height: 40px;
  width: 50px;
  font-size: 30px;
  cursor: pointer;
  color: #c93636;
  background-color: #fff;
  border-radius: 10px;
  align-content: center;
  border: 1px solid #c93636;
}

#delete-all-stock:hover {
  color: #ec6666;
  border: 1px solid #ec6666;
}

#delete-all-stock:active,
#edit-all-stock:active {
  transform: scale(0.9);
}

#edit-all-stock {
  height: 40px;
  width: 50px;
  font-size: 30px;
  cursor: pointer;
  color: #46819b;
  background-color: #fff;
  border-radius: 10px;
  align-content: center;
  border: 1px solid #46819b;
}

#edit-all-stock:hover {
  color: #639bb3;
  border: 1px solid #639bb3;
}

.input-field-buttons {
  display: grid;
  align-self: end;
  justify-self: end;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

#submit-stock:hover {
  background-color: #46819b;
  color: white;
}

/* --- END OF CONTROL section--- */

/* --- START OF PORTFOLIO section--- */
#portfolio-section {
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  display: flex;

  justify-content: space-between;
}

#portfolio-table {
  width: 100%;
}

#portfolio-table,
th,
td {
  text-align: right;
  padding-right: 5px;
  height: 35px;
  font-weight: bold;
}

#portfolio-table {
  border-top: 5px solid #46819b;
  border-bottom: 5px solid #46819b;
}

#table-header-row,
.stock-info-row {
  background-color: #f7f7f7;
  margin-bottom: 70px;
}

#table-header-row {
  background-color: #1a2f38;
  color: #ffffff;
  cursor: pointer;
}

.th-sort-asc::before {
  content: "\25b4";
}

.th-sort-desc::before {
  content: "\25be";
}

.th-sort-pending::before {
  content: "\21C4";
  margin-right: 2px;
}

/* #portfolio-section,
#control-section {
  display: grid;
  grid-template-columns: minmax(700px, 1fr);
  margin: 0 10%;
  padding: 10px;
} */

#portfolio-section,
header {
  margin-bottom: 70px;
}

.indivial-row-btns {
  background-color: #fff;
  text-align: end;
  cursor: pointer;
}

.edit-btn {
  color: #46819b;
}
.delete-btn {
  color: #c93636;
}

.edit-btn:hover {
  color: #1a2f38;
}

.delete-btn:hover {
  color: #ec6666;
}

/* --- END OF PORTFOLIO section--- */

/* --- STOCK CARD section --- */

#stock-card-section {
  font-size: 13px;

  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 280px));
  gap: 1rem;

  justify-content: center;
}

.stock-card {
  display: grid;

  padding: 1rem;
  grid-template-rows: 100px 150px, 100px;
  background-color: #f7f7f7;
  border: 2px solid black;
  border-radius: 10px;
  row-gap: 10px;
}

.stock-basics {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 20px 72px;
  row-gap: 5px;
}

.stock-company-name {
  background-color: white;
  grid-column: 1 / 3;
  grid-row: 1 / 1;
  font-size: 18px;
  height: 20px;
  font-weight: bold;
}

.stock-logo {
  grid-column: 1 / 2;
}

.stock-logo-img {
  max-width: 70px;
  max-height: 70px;
}

.stock-last-price {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 24px 24px 24px;
}

.stock-chart {
  border: 2px solid #fff;
}

.stock-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 25%);
  letter-spacing: 0.5px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 10px;
}

.stock-card:hover {
  position: relative;
  top: -40px;
  transform: scale(1.2);
}

.highlight {
  padding: 1px 1.5px;
}

.green-price-box {
  border-radius: 5px;
  background-color: #3aad5c;
  color: #fff;
}

/* .green-price-box {
  color: #3aad5c;
} */

.red-price-box {
  border-radius: 5px;
  background-color: #c93636;
  color: #fff;
  font-weight: bold;
}

/* .red-price-box {
  color: #ca0707;
} */

/* --- END OF STOCK CARD section --- */
